/*====================================
TABLETS
====================================*/

@media (max-width: 992px){

    .navbar{
        padding:20px 0;
    }

    #inicio.hero{
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    #inicio h1{
        font-size: 3.2rem;
    }

    #inicio h2{
        font-size: 1.6rem;
    }

    #inicio .botones{
        justify-content: center;
        flex-wrap: wrap;
    }

    #inicio .hero-image img{
        max-width: 300px;
    }

    .about-container{
        flex-direction:column;
    }

    .about-image img{
        width:280px;
    }

    .project-card{
        grid-template-columns:1fr;
    }

    .project-info{
        text-align:center;
    }

    .tech{
        justify-content:center;
    }

    .project-buttons{
        justify-content:center;
    }
}

/*====================================
CELULARES
====================================*/

@media (max-width:768px){

    .section-title{
        font-size:2.2rem;
    }

    #inicio.hero{
        padding-top:120px;
        flex-direction: column;
        text-align: center;
    }

    #inicio h1{
        font-size:2.5rem;
    }

    #inicio h2{
        font-size:1.2rem;
    }

    #inicio .descripcion{
        font-size:.95rem;
    }

    #inicio .hero-image img{
        max-width:240px;
    }

    .about-cards{
        grid-template-columns:1fr;
    }

    .skills-grid{
        grid-template-columns:repeat(2,1fr);
    }

    .timeline::before{
        left:10px;
    }

    .timeline-dot{
        left:0;
    }

    .timeline-item{
        padding-left:45px;
    }
}

/*====================================
MÓVILES PEQUEÑOS
====================================*/

@media(max-width:480px){

    #inicio h1{
        font-size:2.1rem;
    }

    #inicio .botones{
        flex-direction:column;
        align-items:center;
    }

    #inicio .botones a{
        width:100%;
        text-align:center;
    }

    .skills-grid{
        grid-template-columns:1fr;
    }

    .contact-grid{
        grid-template-columns:1fr;
    }
}